/*-- scss:defaults --*/
$body-bg: #EEF2E6 !default;
$body-color: #333333;
$link-color: #333333;
$font-family-sans-serif: 'IBM Plex Sans';
$font-family-monospace: 'IBM Plex Sans';

$navbar-bg: #58748F;
$navbar-fg: white;
$navbar-hl: white;

/*-- scss:rules --*/
